html{
}

body{
    background-color: rgb(50, 48, 53);
    color: #1ac100;
    text-align: left;
}
textarea:focus, input:focus{
    outline: none;
}

.bracket{
    display: inline;
}

.bracket::before{
    color: #1ac100;
    font-weight: bold;
    content: "[";
}
.bracket::after{
    color: #1ac100;
    font-weight: bold;
    content: "]";
}

.header{
    color: #71ceff;
}

input[type="password"],input[type="text"]{
    font-family: 'Source Code Pro', monospace;
    color: #42b983;
    border:none;
    padding: 2px;
    background-color: rgb(50,48,53);
}

input{
    background-color: rgb(50,48,53);
}

.error{
    color: #d42424;
}

.button{
    cursor: pointer;
}
a{
    color: #d42424;
}
.content>p,li,span{
    font-size: 0.8em;
}
.content>h1{
    font-size: 1.5em;
}
.content>h2{
    font-size: 1.2em;
}
.content>h3,h4,h5,h6{
    font-size: 1.0em;
}
.content>ul{
    padding-left: 16px;
}
.content>ol{
    padding-left: 24px;
}
textarea{
    color:#71ceff;
    border: none;
    font-size: 14px;
    background: inherit;
    border-left: 3px solid #71ceff;
    resize: none;
    height: fit-content;
}
