<template>
    <div id="wrap">
        <div id="title-wrap">
            <p v-if="tag" class="bracket header">{{ tag }}</p>
            <p class="bracket header"> {{title}} </p>
        </div>
        <div class="content" v-html="text">
        </div>
        <div class="bracket header" id="poster"> Posted by '{{poster}}' </div></br>
        <div class="bracket header button" v-on:click="back"> Back </div>
        <input id="responder" type="text" placeholder="Response to" class="" v-model="respondingTo"></input>
        <textarea name="textarea" placeholder="Post a comment" ref="textarea" v-model="commentText"></textarea>
        <div class="bracket header button" v-on:click="comment"> Post </div>
        <div class="bracket header button" v-on:click="commentText = ''; respondingTo=''"> Clear </div>
        <div v-if="error" class="bracket error"> {{error}} </div>
        <div id="comments" >
            <div ref="comments" v-for="comment in comments" v-bind:id="'comment'+comment.id" v-bind:class="{highlight: comment.isHighlighted}" class="comment">
                <div v-on:click="goto(comment.response)" v-if="comment.response" class="comment-poster bracket button header" >>> {{comment.response}}</div>
                <p class="comment-text"> {{comment.text}} </p>
                <div class="comment-poster bracket header" >{{comment.id}}</div>
                <p class="comment-poster header bracket"> Posted by '{{ comment.poster }}' </p>
                <div class="comment-poster header bracket button" v-on:click="respond(comment.id)"> Respond </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import marked from 'marked'
export default{
    mounted () {
        axios.get('/api/post/' + this.id).then(function (resp) {
            this.title = resp.data.title
            this.tag = resp.data.tag
            this.text = marked(resp.data.text)
            this.poster = resp.data.poster
        }.bind(this)).catch(function () {
            this.$router.push('/posts')
        }.bind(this))

        axios.get('/api/comment/' + this.id).then(function (resp) {
            _.forEach(resp.data.comments, function (comment) {
                comment.isHighlighted = false
                this.comments.push(comment)
            }.bind(this))
            for (var i = 0; i < this.comments.length; i++) {
                this.commentIdMap[this.comments[i].id] = i
            }
        }.bind(this)).catch(function (e) {
            console.log(e)
            this.error = 'Server error could not load comments'
        }.bind(this))
    },
    data: function () {
        var commentText = localStorage['comment.' + this.id + 'text']
        if (!commentText) {
            commentText = ''
        }
        var respondingTo = localStorage['comment.' + this.id + 'respondingTo']
        if (!respondingTo) {
            respondingTo = ''
        }
        return {
            respondingTo: respondingTo,
            title: '',
            tag: '',
            text: '',
            poster: '',
            error: '',
            lastHighlight: 0,
            commentText: commentText,
            commentIdMap: {},
            comments: []
        }
    },
    methods: {
        goto: function (which) {
            console.log(this.comments)
            this.comments[this.lastHighlight].isHighlighted = false
            this.lastHighlight = this.commentIdMap[which]
            this.comments[this.commentIdMap[which]].isHighlighted = true
            location.hash = '#comment' + which
        },
        back: function () {
            this.$router.push('/posts')
        },
        resize: function () {
            let textArea = this.$refs.textarea
            textArea.style.height = '0px'
            textArea.style.height = textArea.scrollHeight + 10 + 'px'
        },
        comment: function () {
            var response = parseInt(this.respondingTo)
            if (isNaN(response)) {
                response = null
            }
            if (this.text === '') {
                this.error = 'Please write atleast some text.'
                return
            }
            axios.post('/api/comment/' + this.id, {
                text: this.commentText,
                response: parseInt(this.respondingTo)
            }).then(function (resp) {
                if (resp.data.successfull) {
                    this.comments.push({
                        response: this.respondingTo,
                        text: this.commentText,
                        id: resp.data.id,
                        poster: resp.data.commenter
                    })
                    this.respondingTo = ''
                    this.commentText = ''
                } else {
                    this.error = resp.data.reason
                }
            }.bind(this))
        },
        save: _.debounce(function () {
            localStorage['comment.' + this.id + 'text'] = this.commentText
            localStorage['comment.' + this.id + 'respondingTo'] = this.respondingTo
        }, 300),
        respond: function (resp) {
            location.hash = '#responder'
            this.respondingTo = resp
        }
    },
    watch: {
        commentText: function () {
            this.resize()
            this.save()
        },
        respondingTo: function () {
            this.save()
        }
    },
    props: {
        id: String
    }
}
</script>

<style scoped>
input#responder{
    font-size: 0.8em;
    display: block;
    border-left: 3px solid #71ceff;
    color: #71ceff;
    margin: 0;
    margin-top: 10px;
    margin-left: 3px;
    padding-left: 10px;
}
#title-wrap{
    font-size: 1.5em;
}
#wrap{
    padding: 10px;
}
.content{
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 3px solid #1ac100;
}
#poster{
    font-size: 0.8em;
}
.button{
    font-size: 0.8em;
}
.button:hover{
    font-size: 0.7em;
}
textarea{
    padding-left: 8px;
    margin-left: 3px;
    margin-top: 10px;
    width: calc(100vw - 40px);
    min-height: 20px;
}
.error{
    font-size: 0.8em;
}
.comment{
    margin-top: 10px;
    margin-left: 2px;
    border-left: 3px solid #1ac100;
    padding-left: 10px;
    padding-bottom: 3px;
}
.comment>p{
    margin: 0;
}
.comment-poster{
    font-size: 0.7em;
}
.comment-poster{
    font-size: 0.7em;
}
.highlight{
    background-color: rgb(31,30,33);
}

</style>
