
<template>
    <div id="hello">
        <img src="../assets/logo.png" width="300">
        <div>
            <h1 class='header bracket'> {{ msg }} </h1>
        </div>
        <login></login>
    </div>
</template>

<script>
import Login from './Login.vue'
export default {
    name: 'hello',
    data () {
        return {
            msg: 'Welcome to jackpoint'
        }
    },
    components: {
        'login': Login
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#hello{
    text-align: center;
    margin-top: 60px;
}
h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
