<template>
    <div>
        <li v-for="message in messages">
            <span>{{ message }}</span>
        </li>
    </div>
</template>

<script>
var largeString = `
[WARN]  18:54:36| "axle_render::back:47":
    error with config for renderer: Error while deserializing: missing field 'shaders'
[ERROR] 18:54:36| "axle_core::console::logger:70":
    Panic in file "/home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glutin-0.8.1/src/api/glx/mod.rs" at line "114"!
[ERROR] 18:54:36| "axle_core::console::logger:76":
    Payload: glx::MakeCurrent failed
[ERROR] 18:54:37| "axle_core::console::logger:103":
             ##Backtrace##
[[31mbacktrace[0m] --> _ZN9backtrace9backtrace9libunwind5traceE
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/backtrace-0.3.3/src/backtrace/libunwind.rs:53

[[31mbacktrace[0m] --> _ZN9backtrace9backtrace14trace<closure>E
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/backtrace-0.3.3/src/backtrace/mod.rs:42

[[31mbacktrace[0m] --> _ZN9axle_core7console6logger9log_panicE
            file /home/mees/Documents/programming/rust/axle/axle_core/src/console/logger.rs:82

[[31mbacktrace[0m] --> _ZN4core3ops8function2Fn65call<fn(&std::panicking::PanicInfo),(&std::panicking::PanicInfo)>E
            file /checkout/src/libcore/ops/function.rs:73

[[31mbacktrace[0m] --> _ZN3std9panicking20rust_panic_with_hookE
            file /checkout/src/libstd/panicking.rs:612

[[31mbacktrace[0m] --> _ZN3std9panicking17begin_panic<&str>E
            file /checkout/src/libstd/panicking.rs:572

[[31mbacktrace[0m] --> _ZN6glutin3api3glx8{{impl}}12make_currentE
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glutin-0.8.1/src/api/glx/mod.rs:114

[[31mbacktrace[0m] --> _ZN6glutin8platform8platform3x118{{impl}}12make_currentE
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glutin-0.8.1/src/platform/linux/x11.rs:259

[[31mbacktrace[0m] --> _ZN6glutin8platform8platform12api_dispatch8{{impl}}12make_currentE
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glutin-0.8.1/src/platform/linux/api_dispatch.rs:219

[[31mbacktrace[0m] --> _ZN6glutin6window8{{impl}}12make_currentE
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glutin-0.8.1/src/window.rs:372

[[31mbacktrace[0m] --> _ZN9axle_core6window7context8{{impl}}12make_currentE
            file /home/mees/Documents/programming/rust/axle/axle_core/src/window/context.rs:133

[[31mbacktrace[0m] --> _ZN5glium7context8{{impl}}12make_currentE
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glium-0.16.0/src/context/mod.rs:643

[[31mbacktrace[0m] --> _ZN5glium7program6shader52build_shader<alloc::rc::Rc<glium::context::Context>>E
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glium-0.16.0/src/program/shader.rs:58

[[31mbacktrace[0m] --> _ZN5glium7program7program8{{impl}}80new<alloc::rc::Rc<glium::context::Context>,glium::program::ProgramCreationInput>E
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glium-0.16.0/src/program/program.rs:94

[[31mbacktrace[0m] --> _ZN5glium7program7program8{{impl}}51from_source<alloc::rc::Rc<glium::context::Context>>E
            file /home/mees/.cargo/registry/src/github.com-1ecc6299db9ec823/glium-0.16.0/src/program/program.rs:144

[[31mbacktrace[0m] --> _ZN11axle_render4back6shader8{{impl}}48register<alloc::rc::Rc<glium::context::Context>>E
            file /home/mees/Documents/programming/rust/axle/axle_render/src/back/shader.rs:49

[[31mbacktrace[0m] --> _ZN11axle_render4back8pipeline8{{impl}}43new<alloc::rc::Rc<glium::context::Context>>E
            file /home/mees/Documents/programming/rust/axle/axle_render/src/back/pipeline/mod.rs:77

[[31mbacktrace[0m] --> _ZN11axle_render4back8{{impl}}75new<alloc::rc::Rc<glium::context::Context>,axle_render::window::CoreWindow>E
            file /home/mees/Documents/programming/rust/axle/axle_render/src/back/mod.rs:54

[[31mbacktrace[0m] --> _ZN11axle_render8{{impl}}3new110{{closure}}<alloc::rc::Rc<glium::context::Context>,axle_render::window::CoreWindow,&axle_core::window::Window>E
            file /home/mees/Documents/programming/rust/axle/axle_render/src/lib.rs:55

[[31mbacktrace[0m] --> _ZN4task2rt7runtime8{{impl}}10new_thread20{{closure}}<closure>E
            file /home/mees/Documents/programming/rust/axle/task-rs/src/rt/runtime.rs:93

[[31mbacktrace[0m] --> _ZN3std10sys_common9backtrace40__rust_begin_short_backtrace<closure,()>E
            file /checkout/src/libstd/sys_common/backtrace.rs:136

[[31mbacktrace[0m] --> _ZN3std6thread8{{impl}}5spawn11{{closure}}23{{closure}}<closure,()>E
            file /checkout/src/libstd/thread/mod.rs:394

[[31mbacktrace[0m] --> _ZN3std5panic8{{impl}}21call_once<(),closure>E
            file /checkout/src/libstd/panic.rs:296

[[31mbacktrace[0m] --> _ZN3std9panicking3try49do_call<std::panic::AssertUnwindSafe<closure>,()>E
            file /checkout/src/libstd/panicking.rs:480

[[31mbacktrace[0m] --> _ZN12panic_unwind24__rust_maybe_catch_panicE
            file /checkout/src/libpanic_unwind/lib.rs:96

[[31mbacktrace[0m] --> _ZN3std9panicking45try<(),std::panic::AssertUnwindSafe<closure>>E
            file /checkout/src/libstd/panicking.rs:459

[[31mbacktrace[0m] --> _ZN3std5panic54catch_unwind<std::panic::AssertUnwindSafe<closure>,()>E
            file /checkout/src/libstd/panic.rs:361

[[31mbacktrace[0m] --> _ZN3std6thread8{{impl}}5spawn23{{closure}}<closure,()>E
            file /checkout/src/libstd/thread/mod.rs:393

[[31mbacktrace[0m] --> _ZN5alloc5boxed8{{impl}}20call_box<(),closure>E
            file /checkout/src/liballoc/boxed.rs:682

[[31mbacktrace[0m] --> _ZN5alloc5boxed8{{impl}}16call_once<(),()>E
            file /checkout/src/liballoc/boxed.rs:692

[[31mbacktrace[0m] --> _ZN3std10sys_common6thread12start_threadE
            file /checkout/src/libstd/sys_common/thread.rs:21

[[31mbacktrace[0m] --> _ZN3std3sys3imp6thread8{{impl}}3new12thread_startE
            file /checkout/src/libstd/sys/unix/thread.rs:84

[[31mbacktrace[0m] --> start_thread
            file ! Unknown !:-1

[[31mbacktrace[0m] --> __clone
            file ! Unknown !:-1

[[31mbacktrace[0m] --> ! Unknown !
            file ! Unknown !:-1
`

import _ from 'lodash'
import axios from 'axios'
export default {
    name: 'intro',
    created: function () {
        if (localStorage['intro']) {
            this.$router.push('/login')
        } else {
            localStorage['intro'] = true
        }
        axios.get('/api/login').then(function (resp) {
            if (resp.data) {
                this.$router.push('/posts')
            }
        }.bind(this))
    },
    mounted: function () {
        this.updateMessage()
    },
    data () {
        return {
            messages: ['Connecting to jackpoint matrix host']
        }
    },
    methods: {
        updateMessage: function () {
            var next = function () {
                _.delay(function () {
                    this.$router.push('login')
                }.bind(this), 1000)
            }.bind(this)

            var afterConnection = function (index) {
                // this.$router.push('login')
                loadbar(100, this.messages, index, this, 0, next)
            }.bind(this)

            var displayConnection = function (index, text, element) {
                displayMessages(connectionMessages, 0, text, index, element, afterConnection)
            }
            loadbar(200, this.messages, 1, this, 0, displayConnection)
        }
    }
}

var connectionMessages = [
    {
        text: 'Connection established',
        delay: 500
    },
    {
        text: 'Starting rendering engine',
        delay: 500
    },
    {
        text: largeString,
        delay: 100
    },
    {
        text: 'Error: Rendering engine could not initialize',
        delay: 500
    },
    {
        text: 'Detected outdated display device',
        delay: 1000
    },
    {
        text: 'Converting to legacy display',
        delay: 400
    }
]

function displayMessages (messages, which, text, index, element, next) {
    if (messages.length === which) {
        next(index + 1, text)
        return
    }
    text.splice(index, 1, messages[which].text)
    element.$nextTick(function () {
        window.scrollTo(0, document.body.scrollHeight)
    })
    _.delay(displayMessages, messages[which].delay, messages, which + 1, text, index + 1, element, next)
}

function loadbar (delay, text, index, element, percentage, next) {
    window.scrollTo(0, document.body.scrollHeight)
    var width = element.$el.clientWidth - 10
    var characterWidth = getTextWidth('.', '15pt Source Code Pro')
    width -= characterWidth * 7

    var string = '['
    var amountOfCharacters = Math.floor(width / characterWidth)
    var filled = Math.round(amountOfCharacters * (percentage / 100))
    for (var i = 0; i < filled; i++) {
        string += '='
    }
    for (i = 0; i < amountOfCharacters - filled; i++) {
        string += ' '
    }
    string += '] '
    var numberStr = Math.round(percentage).toString()
    _.range(3 - numberStr.length).map(function () {
        string += ' '
    })
    string += numberStr
    string += '%'

    text.splice(index, 1, string)
    if (percentage < 100) {
        percentage += Math.random() * 3
        if (percentage > 100) {
            percentage = 100
        }
        _.delay(loadbar, delay, delay, text, index, element, percentage, next)
    } else {
        next(index + 1, text, element)
    }
}

function getTextWidth (text, font) {
    var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement('canvas'))
    var context = canvas.getContext('2d')
    context.font = font
    var metrics = context.measureText(text)
    return metrics.width
}

</script>

<style scoped>
*{
    font-size: 15pt;
}
div{
    color: #42b983;
    text-align: left;
}
li{
    list-style-type:none;
}
span{
    white-space: pre;
}
</style>
