<template>
    <form v-on:submit="login" v-on:submit.prevent>
        <div>
            <h1>[</h1><input v-model="username" type="text" placeholder="Username"></input><h1>]</h1>
        </div>
        <div>
            <h1>[</h1><input v-model="password" type="password" placeholder="Password"></input><h1>]</h1>
        </div>
        <div>
            <h1>[</h1><input value="Login" type="submit" class="bracket button"></input><h1>]</h1>
        </div>
        <div v-if="error">
            <div class="bracket error">{{ error }}</div>
        </div>
    </form>
</template>

<script>
import axios from 'axios'
export default {
    name: 'login',
    created: function () {
        axios.get('/api/login').then(function (resp) {
            if (resp.data) {
                console.log('Already logged in, moving to posts')
                this.$router.push('/posts')
            }
        }.bind(this))
    },
    data () {
        return {
            username: '',
            password: '',
            error: null
        }
    },
    methods: {
        login: function () {
            if (this.username === '') {
                this.error = 'Please fill in a username'
                return
            }
            if (this.password === '') {
                this.error = 'Please fill in a password'
                return
            }
            this.error = null
            axios.post('/api/login', {
                username: this.username,
                password: this.password
            }).then(function (resp) {
                if (resp.data.successfull) {
                    this.$router.push('/posts')
                } else {
                    this.error = resp.data.reason
                }
            }.bind(this)).catch(function (error) {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>
h1{
    display: inline;
}

input{
    font-family: 'Source Code Pro', monospace;
    color: #42b983;
    border:none;
    padding: 2px;
    margin: 10px;
    font-size: 2em;
}

.error{
    display: inline;
    font-size: 2em;
    margin: 10px;
    color: #d42424;
}

.button{
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
}

.button:hover{
    font-size: 1.9em;
}
.button:active{
    font-size: 1.7em;
}
</style>
