<template>
<div>
    <div id="editor">
        <div id="editor-text">
            <div id="title-wrap">
                <div class="suround">[</div>
                <input type="text" v-model="title" placeholder="Title"></input>
                <div class="suround">]</div>
            </div>
            <div id="tag-wrap">
                <div class="suround">[</div>
                <input type="text" v-model="tag" placeholder="Tag"></input>
                <div class="suround">]</div>
            </div>
            <textarea ref="textarea" v-model="text" placeholder="Text"></textarea>
        </div>
        <div  class="content" id="editor-view" v-html="rendered"></div>
    </div>
    <div class="bracket header thingy button" v-on:click="post"> Post </div>
    <div class="bracket header button" v-on:click="clearing = true"> Clear </div>
    <div class="bracket header button" v-on:click="back"> Back </div>
    <div v-if="clearing" id="confirm">
        Are you sure?
        <div class="bracket header button" v-on:click="clear"> Yes </div>
        <div class="bracket header button" v-on:click="clearing = false"> No </div>
    </div>
    <div class="thingy" v-if="error">
        <div class="bracket error"> {{error}} </div>
    </div>
</div>
</template>

<script>
import _ from 'lodash'
import marked from 'marked'
import axios from 'axios'
export default {
    mounted: function () {
        this.render()
        this.resize()
    },
    data: function () {
        var text = ''
        var title = ''
        var tag = ''
        if (localStorage['savedpost.text']) {
            text = localStorage['savedpost.text']
        }
        if (localStorage['savedpost.title']) {
            title = localStorage['savedpost.title']
        }
        if (localStorage['savedpost.tag']) {
            tag = localStorage['savedpost.tag']
        }
        return {
            title: title,
            tag: tag,
            text: text,
            rendered: '',
            clearing: false,
            error: null
        }
    },
    watch: {
        text: function () {
            this.render()
            this.save()
            this.resize()
            this.error = null
        },
        title: function () {
            this.save()
            this.error = null
        },
        tag: function () {
            this.save()
            this.error = null
        }
    },
    methods: {
        back: function () {
            this.$router.push('/posts')
        },
        post: function () {
            if (this.title === '') {
                this.error = 'You cant post without a title'
                return
            }
            axios.post('/api/post', {
                text: this.text,
                title: this.title,
                tag: this.tag
            }).then(function (resp) {
                if (resp.data.successfull) {
                    this.clear()
                    this.$router.push('/posts')
                } else {
                    if (resp.data.reason) {
                        this.error = resp.data.reason
                    } else {
                        this.error = 'An error happend. could not post post'
                    }
                }
            }.bind(this)).catch(function (err) {
                console.log(err)
                this.error = 'An error happend, could not post post'
            }.bind(this))
        },
        render: _.debounce(
            function () {
                if (typeof this.text === 'string') {
                    let res = marked(this.text)
                    this.rendered = res
                } else {
                    this.rendered = '<p></p>'
                }
            }, 300),
        save: _.debounce(
            function () {
                localStorage['savedpost.text'] = this.text
                localStorage['savedpost.tag'] = this.tag
                localStorage['savedpost.title'] = this.title
            }, 300),
        resize: function () {
            let textArea = this.$refs.textarea
            textArea.style.height = '0px'
            textArea.style.height = textArea.scrollHeight + 10 + 'px'
        },
        clear: function () {
            this.clearing = false
            this.text = ''
            this.title = ''
            this.tag = ''
            this.error = null
            this.save()
            this.resize()
        }
    }
}
</script>

<style scoped>
input{
    font-size: 2em;
}
#editor{
    width: 100%;
    overflow-y: auto;
}
#editor-text{
    width: 50%;
    float: left;
    text-align: left;
    padding: 5px;
}
#editor-text::after{
    display: table;
    content: "";
    clear:both;
}
#editor-view{
    text-align: left;
    padding: 5px;
    width: calc(50vw - 30px);
    margin-left: 50%;
    border-left: 3px solid #1ac100;
}
.suround{
    display: inline-block;
    font-size: 36px;
    margin-top: 0px;
    font-weight: bold;
    float: left;
}
.suround::after{
    content: "";
    clear:both;
    display: table;
}
input::after{
    content: "";
    clear:both;
    display: table;
}
.title-wrap::after{
    content: "";
    clear:both;
    display: table;
}
input{
    margin-left: 0;
    width: calc(50vw - 60px);
    float: left;
    font-size: 26px;
    margin-top: 4px;
    display: inline-block;
    margin-bottom: 0;
}
textarea{
    font-size: 12px;
    margin-top: 100px;
    margin-bottom: 10px;
    display: block;
    width: calc(50vw - 55px);
    margin-left: 8px;
    padding: 5px;
    padding-left: 10px;
}
.thingy{
    margin-left: 10px;
}
.button:hover{
    font-size: 0.9em;
    cursor: pointer;
}
.button:active{
    font-size: 0.8em;
}
#confirm{
    display: inline;
}
</style>
