<template>
    <div class="error" v-if="error">
        {{ error }}
    </div>
    <div v-else id="posts">
        <div id="post-container" v-for="post in posts">
            <post
                v-bind:title="post.title"
                v-bind:tag="post.tag"
                v-bind:poster="post.poster"
                v-bind:id="post.id">
            </post>
        </div>
        <div id="new-post" class="button bracket header" v-on:click="newPost"> New Post </div>
        <div class="button bracket header" v-on:click="logout"> Logout </div>
    </div>
</template>

<script>
import axios from 'axios'
import Post from './Post'
export default {
    name: 'posts',
    created: function () {
        console.log('posts')
        axios.get('/api/login').then(function (resp) {
            if (!resp.data) {
                console.log('Not loged in,moving to login')
                this.$router.push('/login')
            }
        }.bind(this)).catch(function (error) {
            console.log(error)
            this.$router.push('/login')
        }.bind(this)).then(function () {
            axios.get('/api/posts').then(function (resp) {
                this.posts = resp.data.posts
            }.bind(this)).catch(function (err) {
                console.log(err)
                this.error = 'There seems to be an error with the server. Someone gonna need to make a software check.'
            }.bind(this))
        }.bind(this))
    },
    data: function () {
        return {
            posts: null,
            error: null
        }
    },
    methods: {
        newPost: function () {
            this.$router.push('/new-post')
        },
        logout: function () {
            axios.get('/api/logout').then(function (resp) {
                if (resp.data.successfull) {
                    this.$router.push('/login')
                } else {
                    this.error = resp.data.reason
                }
            }.bind(this)).catch(function (error) {
                console.log(error)
            })
        }
    },
    components: {
        'post': Post
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#posts{
    text-align: left;
}
#new-post{
    margin-left: 10px;
}
.button:hover{
    font-size: 0.8em;
}
</style>
