<template>
    <div class="post" v-on:click="onclick">
        <div>
            <div class="post-tag bracket header" v-if="tag"> {{tag}} </div><div class="post-title"> {{ title }}</div>
        </div>
        <div class="header poster">Posted by {{ poster }}</div>
    </div>
</template>

<script>
export default {
    name: 'posts',
    props: {
        title: {
            type: String,
            required: true
        },
        poster: {
            type: String,
            required: true
        },
        tag: String,
        id: {
            type: Number,
            required: true
        }
    },
    methods: {
        onclick: function () {
            this.$router.push('/posts/' + this.id)
        }
    }
}
</script>

<style scoped>
.post{
    border-left: 3px solid #42b983;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}
.post:hover{
    border-left: 3px solid #194e36;
}
.post-tag{
    display: inline;
}
.post-title{
    color: #42b983;
    display: inline;
}
.poster{
    font-size: 0.7em;
}
</style>
