<template>
    <form>
        <div>
            <h1>[</h1><input v-model="username" type="text" placeholder="Username"></input><h1>]</h1>
        </div>
        <div>
            <h1>[</h1><input v-model="password" type="password" placeholder="Password"></input><h1>]</h1>
        </div>
        <div>
            <h1>[</h1><input v-model="passwordAgain" type="text" placeholder="Password Again"></input><h1>]</h1>
        </div>
        <div>
            <div class="button" type="button" v-on:click="login"> [ Login ] </div>
        </div>
        <div v-if="error">
            <h1>[</h1><div id="error-message">{{ error }}</div><h1>]</h1>
        </div>
    </form>
</template>

<script>
import axios from 'axios'
export default {
    name: 'register',
    data () {
        return {
            username: '',
            password: '',
            passwordAgain: '',
            error: null
        }
    },
    methods: {
        login: function () {
            if (this.username === '') {
                this.error = 'Please fill in a username'
                return
            }
            if (this.password === '') {
                this.error = 'Please fill in a password'
                return
            }
            var location = '/api/register'
            this.error = null
            axios.post(location, {
                username: this.username,
                password: this.password
            }).then(function (resp) {
                if (resp.data.successfull) {
                    this.$router.push('/login')
                } else {
                    this.error = resp.data.reason
                }
            }.bind(this)).catch(function (error) {
                console.log(error)
            })
        }
    }
}
</script>

<style scoped>
h1{
    display: inline;
    color: #42b983;
}

input{
    font-family: 'Source Code Pro', monospace;
    color: #42b983;
    background-color: inherit;
    border:none;
    padding: 2px;
    margin: 10px;
    font-size: 2em;
}

#error-message{
    display: inline;
    font-size: 2em;
    margin: 10px;
    color: #d42424;
}

.button{
    width: 180px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2em;
    color: #42b983;
    cursor: pointer;
}
.button:hover{
    font-size: 1.9em;
}
.button:active{
    font-size: 1.7em;
}

form{
    text-align: center;
}
</style>
